{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <title>Drop-shipping</title>

    <!-- ::::::::::::::Favicon icon::::::::::::::-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/png">

    <!-- ::::::::::::::All CSS Files here :::::::::::::: -->
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/plaza-icon.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/jquery-ui.min.css' %}">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/aos.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/venobox.min.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block head %}{% endblock %}

</head>

<body>

    {% block header %}{% endblock %}
    {% block banner %}{% endblock %}

    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                        <h3 class="breadcrumb-title">{% block this_page %}{% endblock this_page %}</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li class="active" aria-current="page">{% block current_page %}{% endblock current_page %}</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}


    <!-- ::::::::::::::All JS Files here :::::::::::::: -->
    <!-- Global Vendor, plugins JS -->
    <script src="{% static 'js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>

    <!--Plugins JS-->
    <script src="{% static 'js/plugins/slick.min.js' %}"></script>
    <script src="{% static 'js/plugins/slick.min.js' %}js/plugins/material-scrolltop.js"></script>
    <script src="{% static 'js/plugins/slick.min.js' %}js/plugins/jquery.nice-select.min.js"></script>
    <script src="{% static 'js/plugins/slick.min.js' %}js/plugins/jquery.zoom.min.js"></script>
    <script src="{% static 'js/plugins/slick.min.js' %}js/plugins/venobox.min.js"></script>
    <script src="{% static 'js/plugins/slick.min.js' %}js/plugins/aos.min.js"></script>

    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
