{% load static %}

<div class="product-catagory-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <!-- Start Product Catagory Single -->
                        <a href="{% url 'product_detail' %}" class="product-catagory-single" data-aos="fade-up"  data-aos-delay="0">
                            <div class="product-catagory-img">
                                <img src="{% static 'images/categories_images/aments_categories_01.jpg' %}" alt="">
                            </div>
                            <div class="product-catagory-content">
                                <h5 class="product-catagory-title">Parts Box</h5>
                                <span class="product-catagory-items">(20 Items)</span>
                            </div>
                        </a> <!-- End Product Catagory Single -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <!-- Start Product Catagory Single -->
                        <a href="{% url 'product_detail' %}" class="product-catagory-single" data-aos="fade-up"  data-aos-delay="200">
                            <div class="product-catagory-img">
                                <img src="{% static 'images/categories_images/aments_categories_01.jpg' %}" alt="">
                            </div>
                            <div class="product-catagory-content">
                                <h5 class="product-catagory-title">Parts Box</h5>
                                <span class="product-catagory-items">(20 Items)</span>
                            </div>
                        </a> <!-- End Product Catagory Single -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <!-- Start Product Catagory Single -->
                        <a href="{% url 'product_detail' %}" class="product-catagory-single" data-aos="fade-up"  data-aos-delay="400">
                            <div class="product-catagory-img">
                                <img src="{% static 'images/categories_images/aments_categories_01.jpg' %}" alt="">
                            </div>
                            <div class="product-catagory-content">
                                <h5 class="product-catagory-title">Parts Box</h5>
                                <span class="product-catagory-items">(20 Items)</span>
                            </div>
                        </a> <!-- End Product Catagory Single -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <!-- Start Product Catagory Single -->
                        <a href="{% url 'product_detail' %}" class="product-catagory-single" data-aos="fade-up"  data-aos-delay="600">
                            <div class="product-catagory-img">
                                <img src="{% static 'images/categories_images/aments_categories_01.jpg' %}" alt="">
                            </div>
                            <div class="product-catagory-content">
                                <h5 class="product-catagory-title">Parts Box</h5>
                                <span class="product-catagory-items">(20 Items)</span>
                            </div>
                        </a> <!-- End Product Catagory Single -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <!-- Start Product Catagory Single -->
                        <a href="{% url 'product_detail' %}" class="product-catagory-single" data-aos="fade-up"  data-aos-delay="0">
                            <div class="product-catagory-img">
                                <img src="{% static 'images/categories_images/aments_categories_01.jpg' %}" alt="">
                            </div>
                            <div class="product-catagory-content">
                                <h5 class="product-catagory-title">Parts Box</h5>
                                <span class="product-catagory-items">(20 Items)</span>
                            </div>
                        </a> <!-- End Product Catagory Single -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <!-- Start Product Catagory Single -->
                        <a href="{% url 'product_detail' %}" class="product-catagory-single" data-aos="fade-up"  data-aos-delay="200">
                            <div class="product-catagory-img">
                                <img src="{% static 'images/categories_images/aments_categories_01.jpg' %}" alt="">
                            </div>
                            <div class="product-catagory-content">
                                <h5 class="product-catagory-title">Parts Box</h5>
                                <span class="product-catagory-items">(20 Items)</span>
                            </div>
                        </a> <!-- End Product Catagory Single -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <!-- Start Product Catagory Single -->
                        <a href="{% url 'product_detail' %}" class="product-catagory-single" data-aos="fade-up"  data-aos-delay="400">
                            <div class="product-catagory-img">
                                <img src="{% static 'images/categories_images/aments_categories_01.jpg' %}" alt="">
                            </div>
                            <div class="product-catagory-content">
                                <h5 class="product-catagory-title">Parts Box</h5>
                                <span class="product-catagory-items">(20 Items)</span>
                            </div>
                        </a> <!-- End Product Catagory Single -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <!-- Start Product Catagory Single -->
                        <a href="{% url 'product_detail' %}" class="product-catagory-single" data-aos="fade-up"  data-aos-delay="600">
                            <div class="product-catagory-img">
                                <img src="{% static 'images/categories_images/aments_categories_01.jpg' %}" alt="">
                            </div>
                            <div class="product-catagory-content">
                                <h5 class="product-catagory-title">Parts Box</h5>
                                <span class="product-catagory-items">(20 Items)</span>
                            </div>
                        </a> <!-- End Product Catagory Single -->
                    </div>
                </div>
            </div>
        </div> <!-- End Catagory Wrapper -->
    </div>