{% extends 'base/base.html' %}
{% load static %}
{% block title %} Droppit - Checkout {{ setting.title }} {% endblock %}

{% block header%} {% include 'base/header.html' %} {% endblock %}

{% block this_page %}Checkout{% endblock %}
{% block current_page %}Checkout{% endblock  %}


    {% block content %}
        <div class="checkout_section">
        <div class="container">
            <div class="row">
                <!-- User Quick Action Form -->
                <div class="col-12">
                    <div class="user-actions accordion" data-aos="fade-up"  data-aos-delay="0">
                        <h3>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Returning customer?
                            <a class="Returning" href="#" data-toggle="collapse" data-target="#checkout_login" aria-expanded="true">Click here to login</a>
                        </h3>
                        <div id="checkout_login" class="collapse" data-parent="#checkout_login">
                            <div class="checkout_info">
                                <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing &amp; Shipping section.</p>
                                <form action="#">
                                    <div class="form_group default-form-box">
                                        <label>Username or email <span>*</span></label>
                                        <input type="text">
                                    </div>
                                    <div class="form_group default-form-box">
                                        <label>Password <span>*</span></label>
                                        <input type="password">
                                    </div>
                                    <div class="form_group group_3 default-form-box">
                                        <button type="submit">Login</button>
                                        <label class="checkbox-default">
                                            <input type="checkbox">
                                            <span>Remember me</span>
                                        </label>
                                    </div>
                                    <a href="#">Lost your password?</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="user-actions accordion" data-aos="fade-up"  data-aos-delay="200">
                        <h3>
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Returning customer?
                            <a class="Returning" href="{% url 'login' %}" data-toggle="collapse" data-target="#checkout_coupon" aria-expanded="true">Click here to enter your code</a>

                        </h3>
                        <div id="checkout_coupon" class="collapse" data-parent="#checkout_coupon">
                            <div class="checkout_info">
                                <form action="#">
                                    <input placeholder="Coupon code" type="text">
                                    <button type="submit">Apply coupon</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- User Quick Action Form -->
            </div>
            <!-- Start User Details Checkout Form -->
            <div class="checkout_form" data-aos="fade-up"  data-aos-delay="400">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <form action="#">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-lg-6 mb-20">
                                    <div class="default-form-box">
                                        <label>First Name <span>*</span></label>
                                        <input id="first_name" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <div class="default-form-box">
                                        <label>Last Name <span>*</span></label>
                                        <input id="last_name" type="text">
                                    </div>
                                </div>
                                <div class="col-12 mb-20">
                                    <div class="default-form-box">
                                        <label>Company Name</label>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-12 mb-20">
                                    <div class="default-form-box">
                                        <label for="country">Country <span>*</span></label>
                                        <select class="country_option nice-select wide" name="country" id="country">
                                            <option value="2">Vietnam</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 mb-20">
                                    <div class="default-form-box">
                                        <label>Street address <span>*</span></label>
                                        <input id="address" placeholder="House number and street name" type="text">
                                    </div>
                                </div>
                                <div class="col-12 mb-20">
                                    <div class="default-form-box">
                                        <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                                    </div>
                                </div>
                                <div class="col-12 mb-20">
                                    <div class="default-form-box">
                                        <label>Town / City <span>*</span></label>
                                        <input id="city" type="text">
                                    </div>
                                </div>
                                <div class="col-12 mb-20">
                                    <div class="default-form-box">
                                        <label>State / District <span>*</span></label>
                                        <input id="district" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <div class="default-form-box">
                                        <label>Phone<span>*</span></label>
                                        <input id="phone" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-20">
                                    <div class="default-form-box">
                                        <label> Email Address <span>*</span></label>
                                        <input id="order_email" type="text">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="checkbox-default" for="newAccount" data-toggle="collapse" data-target="#newAccountPassword">
                                        <input type="checkbox" id="newAccount">
                                        <span>Create an account?</span>
                                    </label>
                                    <div id="newAccountPassword" class="collapse" data-parent="#newAccountPassword">
                                        <div class="card-body1 default-form-box">
                                            <label> Account password <span>*</span></label>
                                            <input placeholder="password" type="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-20">
                                    <label class="checkbox-default" for="newShipping" data-toggle="collapse" data-target="#anotherShipping">
                                        <input type="checkbox" id="newShipping">
                                        <span>Ship to a different address?</span>
                                    </label>

                                    <div id="anotherShipping" class="collapse" data-parent="#anotherShipping">
                                        <div class="row">
                                            <div class="col-lg-6 mb-20">
                                                <div class="default-form-box">
                                                    <label>First Name <span>*</span></label>
                                                    <input  type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 mb-20">
                                                <div class="default-form-box">
                                                    <label>Last Name <span>*</span></label>
                                                    <input  type="text">
                                                </div>
                                            </div>
{#                                            <div class="col-12 mb-20">#}
{#                                                <div class="default-form-box">#}
{#                                                    <label>Company Name</label>#}
{#                                                    <input type="text">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="col-12 mb-20">#}
{#                                                <div class="select_form_select default-form-box">#}
{#                                                    <label for="countru_name">Country <span>*</span></label>#}
{#                                                    <select class="niceselect_option wide" name="cuntry" id="countru_name">#}
{#                                                        <option value="2">Vietnam</option>#}
{#                                                </div>#}
{#                                            </div>#}

                                            <div class="col-12 mb-20">
                                                <div class="default-form-box">
                                                    <label>Street address <span>*</span></label>
                                                    <input placeholder="House number and street name" type="text">
                                                </div>
                                            </div>
{#                                            <div class="col-12 mb-20">#}
{#                                                <div class="default-form-box">#}
{#                                                    <input placeholder="Apartment, suite, unit etc. (optional)" type="text">#}
{#                                                </div>#}
{#                                            </div>#}
                                            <div class="col-12 mb-20">
                                                <div class="default-form-box">
                                                    <label>Town / City <span>*</span></label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-12 mb-20">
                                                <div class="default-form-box">
                                                    <label>District <span>*</span></label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 mb-20">
                                                <div class="default-form-box">
                                                    <label>Phone<span>*</span></label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="default-form-box">
                                                    <label> Email Address <span>*</span></label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="order-notes">
                                        <label for="order_note">Order Notes</label>
                                        <textarea id="order_note" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                    </div>
                                </div>
{#                                xoa ho anh cai ship to different address duoc khong#}
                                <script>
                                function sendMessageOrder() {
                                    let first_name = document.getElementById("first_name").value;
                                    let last_name = document.getElementById("last_name").value;
                                    let address = document.getElementById("address").value;
                                    let city = document.getElementById("city").value;
                                    let district = document.getElementById("district").value;
                                    let phone = document.getElementById("phone").value;
                                    let order_email = document.getElementById("order_email").value;
                                    let note = document.getElementById("order_note").value;
                                    let check_token = sessionStorage.token;
                                    let xmlRequest = new XMLHttpRequest();
                                    xmlRequest.onreadystatechange = function () {
                                        if (this.readyState == 4) {
                                            if (xmlRequest.status == 201) {
                                                alert('Thanks for your order!\n');
                                                location.replace('/');
                                            } else if (xmlRequest.status != 201) {
                                                alert('Sorry something gone wrong :(\n');
                                            }
                                            window.location.reload();
                                        }
                                    }
                                    xmlRequest.open("POST", "http://127.0.0.1:8000/api/authenticationrequired")
                                    xmlRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                                    xmlRequest.send(JSON.stringify({
                                        "token": check_token,
                                        "first_name": first_name,
                                        "last_name": last_name,
                                        "address": address,
                                        "city": city,
                                        "district": district,
                                        "phone": phone,
                                        "email": order_email,
                                        "note": note,
                                    }))
                                }
                            </script>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <form action="#">
                            <h3>Your order</h3>
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <!--Product to buy-->
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Cart Subtotal</th>
                                            <td>$</td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td><strong>3$</strong></td>
                                        </tr>
                                        <tr class="order_total">
                                            <th>Order Total</th>
                                            <td><strong>$</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment_method">
                                <div class="panel-default">
                                    <label class="checkbox-default" for="currencyCod" data-toggle="collapse" data-target="#methodCod">
                                        <input type="checkbox" id="currencyCod">
                                        <span>Cash on Delivery</span>
                                    </label>

                                    <div id="methodCod" class="collapse" data-parent="#methodCod">
                                        <div class="card-body1">
                                            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-default">
                                    <label class="checkbox-default" for="currencyPaypal" data-toggle="collapse" data-target="#methodPaypal">
                                        <input type="checkbox" id="currencyPaypal">
                                        <span>PayPal</span>
                                    </label>
                                    <div id="methodPaypal" class="collapse " data-parent="#methodPaypal">
                                        <div class="card-body1">
                                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="order_button pt-15">
                                    <button type="button" onclick="sendMessageOrder(); return false;">Confirm Order</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- Start User Details Checkout Form -->
        </div>
    </div><!-- ...:::: End Checkout Section:::... -->
    {% endblock %}


{% block footer %} {% include 'base/foot.html' %} {% endblock %}