{% extends 'base/base.html' %}
{% load static %}
    {% block title %} Droppit  {{ setting.title }} {% endblock %}
    {% block header %} {% include 'base/header.html' %} {% endblock %}
    {% block banner %} {% include 'base/banner.html' %} {% endblock %}
    {% block content %}
<!-- ...:::: Start Product Tab Section:::... -->
    <div class="product-tab-section section-top-gap-100">
        <!-- Start Section Content -->
        <div class="section-content-gap">
            <div class="container">
                <div class="row">
                    <div class="section-content d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column">
                        <h3 class="section-title" data-aos="fade-up" data-aos-delay="0">New arrival</h3>
                        <ul class="tablist nav product-tab-btn" data-aos="fade-up"  data-aos-delay="400">
                            <li><a class="nav-link active" data-toggle="tab" href="#Menswear">Menswear </a></li>
                            <li><a class="nav-link active" data-toggle="tab" href="#Womenwear">Womenwear </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- End Section Content -->

        <!-- Start Tab Wrapper -->
        <div class="product-tab-wrapper" data-aos="fade-up"  data-aos-delay="50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content tab-animate-zoom">
                            <div class="tab-pane show active" id="car_and_drive">
                                <div class="product-default-slider product-default-slider-4grids-1row">
                                    {% for product in latest %}
                                    <!-- Start Product Defautlt Single -->
                                    <div class="product-default-single border-around">
                                        <div class="product-img-warp">
                                            <a href="{% url 'product_detail' product.id product.slug %}" class="product-default-img-link">
                                                <img src="{{ product.image.url }}" style="width: 266px; height: 272px" alt="" class="product-default-img img-fluid">
                                            </a>
                                            <div class="product-action-icon-link">
                                                <ul>
                                                    <li><a href="{% url 'wishlist' %}"><i class="icon-heart"></i></a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#modalAddcart"><i class="icon-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-default-content">
                                            <h6 class="product-default-link"><a href="{% url 'product_detail' product.id product.slug %}">{{ product.title }}</a></h6>
                                            <span class="product-default-price">${{ product.price }}</span>
                                        </div>
                                    </div> <!-- End Product Defautlt Single -->
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Catagory Wrapper -->
    </div> <!-- ...:::: End Product Tab Section:::... -->
    {% endblock %}

    {% block footer %} {% include 'base/foot.html' %} {% endblock %}