{% extends 'base/base.html' %}
{% load static %}
{% block title %} Droppit - Login {{ setting.title }} {% endblock %}

{% block header %} {% include 'base/header.html' %} {% endblock %}

{% block this_page %} Login {% endblock this_page %}
{% block current_page %} Login {% endblock current_page %}

{% block content %}

    <!-- ...:::: Start Customer Login Section :::... -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <div class="customer_login">
        <div class="container">
            <div class="row">
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form" data-aos="fade-up" data-aos-delay="0">
                        <h3>login</h3>
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <div class="default-form-box mb-20">
                                <label>Email <span>*</span></label>
                                <label>
                                    <input id="login_email" type="text">
                                </label>
                            </div>
                            <div class="default-form-box mb-20">
                                <label>Passwords <span>*</span></label>
                                <label>
                                    <input id="login_password" type="password">
                                </label>
                            </div>
                            <div class="login_submit">
                                <button type="button" onclick="sendMessageLogin(); return false;">login</button>
                                <label class="checkbox-default mb-20" for="offer">
                                    <input type="checkbox" id="offer">
                                    <span>Remember me</span>
                                </label>
                                <a href="#">Lost your password?</a>
                            </div>
                            <script>
                                function sendMessageLogin() {
                                    let email = document.getElementById("login_email").value;
                                    let password = document.getElementById("login_password").value;
                                    let xmlRequest = new XMLHttpRequest();
                                    xmlRequest.onreadystatechange = function () {
                                        if (this.readyState == 4) {
                                            if (xmlRequest.status == 200) {
                                                let myObject = JSON.parse(this.responseText);
                                                sessionStorage.token = myObject.token;
                                                alert('Login Successful\n' + this.responseText);
                                                location.replace('/');
                                            } else if (xmlRequest.status != 200) {
                                                alert('Fail to Login\n' + this.responseText);
                                            }
                                            window.location.reload();
                                        }
                                    }
                                    xmlRequest.open("POST", "/api/authenticate/")
                                    xmlRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                                    xmlRequest.send(JSON.stringify({"email": email, "password": password}))
                                }
                            </script>
                        </form>
                    </div>
                </div>
                <!--login area start-->

                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register" data-aos="fade-up" data-aos-delay="200">
                        <h3>Register</h3>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="default-form-box mb-20">
                                <label>Email address <span>*</span></label>
                                <label>
                                    <input id="register_email" type="text">
                                </label>
                            </div>
                            <div class="default-form-box mb-20">
                                <label>Username<span>*</span></label>
                                <label>
                                    <input id="register_username" type="text">
                                </label>
                            </div>
                            <div class="default-form-box mb-20">
                                <label>Passwords <span>*</span></label>
                                <label>
                                    <input id="register_password" type="password">
                                </label>
                            </div>
                            <div class="register_button">
                                <button type="button" onclick="sendMessageRegister(); return false;">Register</button>
                            </div>
                            <script>
                                function sendMessageRegister() {
                                    let email = document.getElementById("register_email").value;
                                    let username = document.getElementById("register_username").value;
                                    let password = document.getElementById("register_password").value;
                                    let xmlRequest = new XMLHttpRequest();
                                    xmlRequest.onreadystatechange = function () {
                                        if (this.readyState == 4) {
                                            if (xmlRequest.status == 201) {
                                                alert('Register Successful\n' + this.responseText);
                                                location.replace('/');
                                            } else if (xmlRequest.status != 201) {
                                                alert('Fail to register\n' + this.responseText);
                                            }
                                            window.location.reload();
                                        }
                                    }
                                    xmlRequest.open("POST", "/api/register/")
                                    xmlRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                                    xmlRequest.send(JSON.stringify({
                                        "email": email,
                                        "username": username,
                                        "password": password
                                    }))
                                }
                            </script>
                        </form>
                    </div>
                </div>
                <!--register area end-->
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->




{% endblock %}


{% block footer %} {% include 'base/foot.html' %} {% endblock %}