{% extends 'base/base.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %} Droppit - {{ product.title }} {% endblock %}

{% block header%} {% include 'base/header.html' %} {% endblock %}
{% block this_page %}{{ product.title }}{% endblock %}
{% block current_page %} {{ product.title }}{% endblock  %}


    {% block content %}

        <div class="product-details-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-details-gallery-area" data-aos="fade-up"  data-aos-delay="0">
                        <div class="product-large-image product-large-image-horaizontal">
                            {% if variant.image_id > 0 %}
                                <div class="product-image-large-single zoom-image-hover">
                                    <img src="{{ variant.image }}" alt="" style="height: 508px; width: 508px">
                                </div>
                            {% else %}
                                <div class="product-image-large-single zoom-image-hover">
                                    <img src="{{ product.image.url }}" alt="" style="height: 508px; width: 508px">
                                </div>
                            {% endif %}

                            {% for image in images %}
                                <div class="product-image-large-single zoom-image-hover">
                                    <img src="{{ image.image.url }}" alt="" style="height: 508px; width: 508px">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="product-image-thumb product-image-thumb-horizontal pos-relative">
                            <div class="zoom-active product-image-thumb-single">
                                <img class="img-fluid" src="{{ product.image.url }}" alt="">
                            </div>
                            {% for image in images %}
                                <div class="zoom-active product-image-thumb-single">
                                    <img class="img-fluid" src="{{ image.image.url }}" alt="" >
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-details-content-area" data-aos="fade-up"  data-aos-delay="200">
                        <!-- Start  Product Details Text Area-->
                        <div class="product-details-text">
                            <h4 class="title">{{product.title}}</h4>
                            <div class="d-flex align-items-center">
                                <div class="product-review">
                                    <span class="review-fill"><i class="fa fa-star{% if product.average_review < 1%}-o empty{% endif%}"></i></span>
                                    <span class="review-fill"><i class="fa fa-star{% if product.average_review < 2%}-o empty{% endif%}"></i></span>
                                    <span class="review-fill"><i class="fa fa-star{% if product.average_review < 3%}-o empty{% endif%}"></i></span>
                                    <span class="review-fill"><i class="fa fa-star{% if product.average_review < 4%}-o empty{% endif%}"></i></span>
                                    <span class="review-fill"><i class="fa fa-star{% if product.average_review < 5%}-o empty{% endif%}"></i></span>
                                </div>
                                <a href="#review" class="customer-review">( {{ product.average_review | stringformat:".2f"}} / {{ product.countreview }} review(s) )</a>
                            </div>
                            <div class="price">${{product.price}}</div>
                           <p>{{ product.description }}</p>
                        </div> <!-- End  Product Details Text Area-->
                        <!-- Start Product Variable Area -->
                        <div class="product-details-variable">
                            <h4 class="title">Available Options</h4>
                            <!-- Product Variable Single Item -->
                            <div class="variable-single-item">
                                <span>Color</span>
                                <div class="product-variable-color">
                                    <label for="product-color-red">
                                        <input name="product-color" id="product-color-red" class="color-select" type="radio" checked>
                                        <span class="product-color-red"></span>
                                    </label>
                                    <label for="product-color-tomato">
                                        <input name="product-color" id="product-color-tomato" class="color-select" type="radio">
                                        <span class="product-color-tomato"></span>
                                    </label>
                                    <label for="product-color-green">
                                        <input name="product-color" id="product-color-green" class="color-select" type="radio">
                                        <span class="product-color-green"></span>
                                    </label>
                                    <label for="product-color-light-green">
                                        <input name="product-color" id="product-color-light-green" class="color-select" type="radio">
                                        <span class="product-color-light-green"></span>
                                    </label>
                                    <label for="product-color-blue">
                                        <input name="product-color" id="product-color-blue" class="color-select" type="radio">
                                        <span class="product-color-blue"></span>
                                    </label>
                                    <label for="product-color-light-blue">
                                        <input name="product-color" id="product-color-light-blue" class="color-select" type="radio">
                                        <span class="product-color-light-blue"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- Product Variable Single Item -->
                            <div class="d-flex align-items-center">
                                <div class="variable-single-item ">
                                    <span>Quantity</span>
                                    <div class="product-variable-quantity">
                                        <input min="1" max="100" value="1" type="number">
                                    </div>
                                </div>

                                <div class="product-add-to-cart-btn">
                                    <a href="#" data-toggle="modal" data-target="#modalAddcart">Add To Cart</a>
                                </div>
                            </div>
                        </div> <!-- End Product Variable Area -->
                        <!-- Start  Product Details Meta Area-->
                        <div class="product-details-meta mb-20">
                            <ul>
                                <li><a href=""><i class="icon-heart"></i>Add to wishlist</a></li>
                            </ul>
                        </div> <!-- End  Product Details Meta Area-->
                        <!-- Start  Product Details Social Area-->
                        <div class="product-details-social">
                            <ul>
                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i>Like</a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i>Tweet</a></li>
                                <li><a href="#" class="instagram"><i class="fa fa-instagram"></i>Instagram</a></li>
                            </ul>
                        </div> <!-- End  Product Details Social Area-->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Product Details Section -->

    <!-- Start Product Content Tab Section -->
    <div class="product-details-content-tab-section section-inner-bg section-top-gap-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-details-content-tab-wrapper" data-aos="fade-up"  data-aos-delay="0">
                        <!-- Start Product Details Tab Button -->
                        <ul class="nav tablist product-details-content-tab-btn d-flex justify-content-center">
                            <li><a class="nav-link active" data-toggle="tab" href="#description">
                                    <h5>{{ product.description }}</h5>
                                </a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#review">
                                    <h5>Reviews </h5>
                                </a></li>
                        </ul> <!-- End Product Details Tab Button -->

                        <!-- Start Product Details Tab Content -->
                        <div class="product-details-content-tab">
                            <div class="tab-content">
                                <!-- Start Product Details Tab Content Singel -->
                                <div class="tab-pane active show" id="description">
                                    <div class="single-tab-content-item">
                                        <p>{{ product.description}}</p>
                                    </div>
                                </div> <!-- End Product Details Tab Content Singel -->
                                <!-- Start Product Details Tab Content Singel -->
                                <div class="tab-pane" id="review">
                                    <div class="single-tab-content-item">
                                        <ul class="comment">
                                        {% recursetree comments %}
                                            <!-- Start - Review Comment list-->
                                            <li class="comment-list">
                                                {% if not comments.all %}
                                                    No comment yet...
                                                {% endif %}
                                                <div class="comment-wrapper">
                                                    <div class="comment-img">
                                                        <img src="{% static ' ' %}images/user/image-1.png" alt="">
                                                    </div>
                                                    <div class="comment-content">
                                                        <div class="comment-content-top">
                                                            <div class="comment-content-left">
                                                                <h6 class="comment-name">{{ node.users }} | {{ node.create_at }}</h6>
                                                                <div class="product-review">
                                                                    <span class="review-fill"><i class="fa fa-star{% if node.rate < 1%}-o empty{% endif%}"></i></span>
                                                                    <span class="review-fill"><i class="fa fa-star{% if node.rate < 2%}-o empty{% endif%}"></i></span>
                                                                    <span class="review-fill"><i class="fa fa-star{% if node.rate < 3%}-o empty{% endif%}"></i></span>
                                                                    <span class="review-fill"><i class="fa fa-star{% if node.rate < 4%}-o empty{% endif%}"></i></span>
                                                                    <span class="review-fill"><i class="fa fa-star{% if node.rate < 5%}-o empty{% endif%}"></i></span>
                                                                </div>
                                                            </div>
                                                            <div class="comment-content-right">
                                                                <a  href="#reply-form" data-toggle="collapse"><i class="fa fa-reply"></i>Reply</a>
                                                            </div>
                                                        </div>
                                                        <div class="para-content">
                                                            <p> {{ node.comment }} </p>
                                                        </div>
                                                         <form action=" " method="post" id="reply-form" class="collapse">
                                                             {% if node.id %}
                                                                <input type="hidden" name="parent" id="parent_id" value="{{ node.id }}" />
                                                             {% endif %}
                                                             {% csrf_token %}
                                                             <div class="row">
                                                                 <div class="col-md-6">
                                                                     <div class="default-form-box mb-20">
                                                                         <label for="comment-name"> Your Email <span>*</span></label>
                                                                         <input id="comment-name" type="email" placeholder="Enter your mail" required>
                                                                     </div>
                                                                 </div>
                                                                 <div class="col-md-6">
                                                                     <div class="default-form-box mb-20">
                                                                         <label for="comment-email">Subject <span>*</span></label>
                                                                         <input id="comment-email" type="text" placeholder="Enter your subject" name="subject" required>
                                                                     </div>
                                                                 </div>
                                                                 <div class="col-12">
                                                                     <div class="default-form-box mb-20">
                                                                         <label for="comment-review-text">Your reply <span>*</span></label>
                                                                         <textarea id="comment-review-text" placeholder="Write a review" name="comment" required></textarea>
                                                                     </div>
                                                                 </div>
                                                                 {% if user.id is not None %}
                                                                     <div class="col-12">
                                                                         <button class="form-submit-btn" type="submit">Submit</button>
                                                                     </div>
                                                                 {% else %}
                                                                     Let log in and write a reply!
                                                                 {% endif %}
                                                             </div>
                                                         </form>
                                                    </div>
                                                </div>
                                                <!-- Start - Review Comment Reply-->
                                                <ul class="comment-reply">
                                                    {% if not node.is_leaf_node %}
                                                    <li class="comment-reply-list" >
{#                                                        <div class="comment-wrapper" >#}
{#                                                            <div class="comment-img">#}
{#                                                                <img src="{% static ' ' %}images/user/image-2.png" alt="">#}
{#                                                            </div>#}
{#                                                            <div class="comment-content">#}
{#                                                                <div class="comment-content-top">#}
{#                                                                    <div class="comment-content-left">#}
{#                                                                        <h6 class="comment-name">{{ replies.username }} | {{ replies.create_at }} </h6>#}
{#                                                                    </div>#}
{#                                                                    <div class="comment-content-right">#}
{#                                                                        <a  href="#" data-toggle="collapse"><i class="fa fa-reply"></i>Reply</a>#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                                <div class="para-content">#}
{#                                                                  <p> {{ replies.comment }} </p>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
                                                    {{ replies }}
                                                    </li>
                                                    {% endif %}
                                                </ul> <!-- End - Review Comment Reply-->
                                            </li> <!-- End - Review Comment list-->
                                        {% endrecursetree %}
                                        </ul> <!-- End - Review Comment -->

                                        <div class="review-form">
                                            <div class="review-form-text-top">
                                                <h5><a  href="#comment-form" data-toggle="collapse">ADD A REVIEW</a></h5>
                                            </div>
                                             {% if messages %}
                                                    {% for mess in messages %}
                                                      <div class="alert alert-{{ mess.tags }}" role="alert">
                                                          {{ mess }}
                                                      </div>
                                                    {% endfor %}
                                            {% endif %}
                                            <form action=" " method="post" id="comment-form" class="collapse">
                                                {% csrf_token %}
{#                                            {% if node.id %}#}
{#                                                <input type="hidden" name="parent" id="parent_id" value="{{ node.id }}" />#}
{#                                            {% endif %}#}
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="default-form-box mb-20">
                                                            <label for="comment-name">Your Email <span>*</span></label>
                                                            <input id="comment-name" type="email" placeholder="Enter your mail" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="default-form-box mb-20">
                                                            <label for="comment-email">Subject <span>*</span></label>
                                                            <input id="comment-email" type="text" placeholder="Enter your subject" name="subject" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="default-form-box mb-20">
                                                            <label for="comment-review-text">Your review <span>*</span></label>
                                                            <textarea id="comment-review-text" placeholder="Write a review" name="comment" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="rt-container">
                                                        <label>Rate this product:</label>
                                                            <div class="col-rt-12">
                                                                  <fieldset>
                                                                        <span class="star-cb-group">
                                                                              <input type="radio" id="rate-5" name="rate" value="5" /><label for="rate-5">5</label>
                                                                              <input type="radio" id="rate-4" name="rate" value="4" /><label for="rate-4">4</label>
                                                                              <input type="radio" id="rate-3" name="rate" value="3" /><label for="rate-3">3</label>
                                                                              <input type="radio" id="rate-2" name="rate" value="2" /><label for="rate-2">2</label>
                                                                              <input type="radio" id="rate-1" name="rate" value="1" /><label for="rate-1">1</label>
                                                                              <input type="radio" id="rate-0" name="rate" value="0" class="star-cb-clear" /><label for="rate-0">0</label>
                                                                        </span>
                                                                  </fieldset>
                                                            </div>
                                                    </div>
                                                    {% if user.id is not None %}
                                                        <div class="col-12">
                                                            <button class="form-submit-btn" type="submit">Submit</button>
                                                        </div>
                                                    {% else %}
                                                        Let log in and tell us about your review!
                                                    {% endif %}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div> <!-- End Product Details Tab Content Singel -->
                            </div>
                        </div> <!-- End Product Details Tab Content -->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Product Content Tab Section -->

    <!-- ...:::: Start Product  Section:::... -->
    <div class="product-section section-top-gap-100">
        <!-- Start Section Content -->
        <div class="section-content-gap">
            <div class="container">
                <div class="row">
                    <div class="section-content">
                        <h3 class="section-title" data-aos="fade-up"  data-aos-delay="0">Related Products</h3>
                    </div>
                </div>
            </div>
        </div> <!-- End Section Content -->

        <!-- Start Product Wrapper -->
        <div class="product-wrapper" data-aos="fade-up"  data-aos-delay="200">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product-default-slider product-default-slider-4grids-1row">
                            <!-- Start Product Defautlt Single -->
                            <div class="product-default-single border-around">
                                <div class="product-img-warp">
                                    <a href="{% url 'product_detail'  product.id product.slug %}" class="product-default-img-link">
                                        <img src="{% static '' %}images/products_images/aments_products_image_1.jpg" alt="" class="product-default-img img-fluid">
                                    </a>
                                    <div class="product-action-icon-link">
                                        <ul>
                                            <li><a href="{% url 'wishlist' %}"><i class="icon-heart"></i></a></li>
                                            <li><a href="#" data-toggle="modal" data-target="#modalQuickview"><i class="icon-eye"></i></a></li>
                                            <li><a href="#" data-toggle="modal" data-target="#modalAddcart"><i class="icon-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-default-content">
                                    <h6 class="product-default-link"><a href="{% url 'product_detail'  product.id product.slug %}">{{product.title}}</a></h6>
                                    <span class="product-default-price">{{product.price}}</span>
                                </div>
                            </div> <!-- End Product Defautlt Single -->
                    </div>
                </div>
            </div>
        </div> <!-- End Product Wrapper -->
    </div> <!-- ...:::: End Product Section:::... -->

    </div> <!-- ...:::: End Product Section:::... -->
    {% endblock %}

{% block footer %}{% include 'base/foot.html' %}{% endblock %}