{% extends 'base/base.html' %}
{% load static %}
{% block title %} Droppit - Shop {{ setting.title }} {% endblock %}

{% block header%} {% include 'base/header.html' %} {% endblock %}

{% block this_page %}Shop{% endblock %}
{% block current_page %}Shop{% endblock  %}


    {% block content %}
         <!-- ...:::: Start Shop Section:::... -->
    <div class="shop-section">
        <div class="container">
            <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-3">
                    <!-- Start Sidebar Area -->
                    <div class="siderbar-section" data-aos="fade-up"  data-aos-delay="0">

                        <!-- Start Single Sidebar Widget -->
                        <div class="sidebar-single-widget">
                            <h6 class="sidebar-title">FILTER BY PRICE</h6>
                            <div class="sidebar-content">
                                <div id="slider-range"></div>
                                <div class="filter-type-price">
                                    <label for="amount">Price range:</label>
                                    <input type="text" id="amount">
                                </div>
                            </div>
                        </div> <!-- End Single Sidebar Widget -->

                        <!-- Start Single Sidebar Widget -->
                        <div class="sidebar-single-widget" >
                            <h6 class="sidebar-title">CATEGORIES</h6>
                            <div class="sidebar-content">
                                <div class="filter-type-select">
                                    <ul>
                                        <li>
                                            <label class="checkbox-default" for="catagory_1">
                                                <input type="checkbox" id="catagory_1">
                                                <span>Catagory (1)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox-default" for="catagory_2">
                                                <input type="checkbox" id="catagory_2">
                                                <span>Catagory (2)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox-default" for="catagory_3">
                                                <input type="checkbox" id="catagory_3">
                                                <span>Catagory (3)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox-default" for="catagory_4">
                                                <input type="checkbox" id="catagory_4">
                                                <span>Catagory (4)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox-default" for="catagory_5">
                                                <input type="checkbox" id="catagory_5">
                                                <span>Catagory (5)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- End Single Sidebar Widget -->
                        <!-- Start Single Sidebar Widget -->
                        <div class="sidebar-single-widget">
                            <h6 class="sidebar-title">MANUFACTURER</h6>
                            <div class="sidebar-content">
                                <div class="filter-type-select">
                                    <ul>
                                        <li>
                                            <label class="checkbox-default" for="brakeParts">
                                                <input type="checkbox" id="brakeParts">
                                                <span>Brake Parts(6)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox-default" for="accessories">
                                                <input type="checkbox" id="accessories">
                                                <span>Accessories (10)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox-default" for="EngineParts">
                                                <input type="checkbox" id="EngineParts">
                                                <span>Engine Parts (4)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox-default" for="hermes">
                                                <input type="checkbox" id="hermes">
                                                <span>hermes (10)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox-default" for="tommyHilfiger">
                                                <input type="checkbox" id="tommyHilfiger">
                                                <span>Tommy Hilfiger(7)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- End Single Sidebar Widget -->

                        <!-- Start Single Sidebar Widget -->
                        <div class="sidebar-single-widget">
                            <h6 class="sidebar-title">SELECT BY COLOR</h6>
                            <div class="sidebar-content">
                                <div class="filter-type-select">
                                    <ul>
                                        <li>
                                            <label class="checkbox-default" for="black">
                                                <input type="checkbox" id="black">
                                                <span>Black (6)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox-default" for="blue">
                                                <input type="checkbox" id="blue">
                                                <span>Blue (8)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox-default" for="brown">
                                                <input type="checkbox" id="brown">
                                                <span>Brown (10)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox-default" for="Green">
                                                <input type="checkbox" id="Green">
                                                <span>Green (6)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox-default" for="pink">
                                                <input type="checkbox" id="pink">
                                                <span>Pink (4)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- End Single Sidebar Widget -->

                        <!-- Start Single Sidebar Widget -->
                        <div class="sidebar-single-widget">
                            <div class="sidebar-content">
                                <a href="product-details-default.html" class="sidebar-banner">
                                    <img class="img-fluid" src="assets/images/banner_images/aments_banner_04.jpg" alt="">
                                </a>
                            </div>
                        </div> <!-- End Single Sidebar Widget -->

                    </div> <!-- End Sidebar Area -->
                </div>
                <div class="col-lg-9">
                    <!-- Start Tab Wrapper -->
                    <div class="sort-product-tab-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="tab-content tab-animate-zoom">
                                        <!-- Start Grid View Product -->
                                        <div class="tab-pane active show sort-layout-single" id="layout-3-grid">
                                            <div class="row">
                                                {% for product in page_obj %}
                                                    <div class="col-xl-4 col-sm-6 col-12">
                                                    {# Each "contact" is a Product model object. #}
                                                        <div class="product-default-single border-around" data-aos="fade-up"  data-aos-delay="0">
                                                            <div class="product-img-warp">
                                                                <a href="{% url 'product_detail' product.id product.slug %}" class="product-default-img-link">
                                                                    <img src="{{ product.image.url }}" alt="" class="product-default-img img-fluid">
                                                                </a>
                                                            </div>
                                                             <div class="product-action-icon-link">
                                                                <ul>
                                                                    <li><a href="{% url 'wishlist' %}"><i class="icon-heart"></i></a></li>
                                                                    <li><a href="#" data-toggle="modal" data-target="#modalAddcart"><i class="icon-shopping-cart"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                         <div class="product-default-content">
                                                            <h6 class="product-default-link"><a href="{% url 'product_detail' product.id product.slug %}">{{ product.title }}</a></h6>
                                                            <span class="product-default-price">${{product.price|floatformat:2}}</span>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div> <!-- End Grid View Product -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End Tab Wrapper -->

                    <!-- Start Pagination -->
                    <div class="page-pagination text-center" data-aos="fade-up"  data-aos-delay="0">
                        <ul>
{#                          get to previous page#}
                            {% if page_obj.has_previous %}
                                <li><a href="?page=1">First</a></li>
                                <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                            {% endif %}

{#                          current page#}
                                <li><a class="active" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

{#                          get to next page#}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                                <li><a href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                            {% endif %}
                        </ul>
                    </div> <!-- End Pagination -->
                </div> <!-- End Shop Product Sorting Section  -->
            </div>
        </div>
    </div> <!-- ...:::: End Shop Section:::... -->

    {% endblock %}



{% block footer %} {% include 'base/foot.html' %} {% endblock %}