{% load static %}
<!-- ...:::: Start Hero Area Section:::... -->
    <div class="hero-area">
        <div class="hero-area-wrapper hero-slider-dots fix-slider-dots">
            <!-- Start Hero Slider Single -->
            {% for slider in sliders %}
            <div class="hero-area-single">
                <div class="hero-area-bg">
                    <img class="hero-img" src="{{ slider.img.url }}"  alt="{{ slider.title }}">
                </div>
                <div class="hero-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-10 col-md-8 col-xl-6">
                                <h5>{{ slider.title }}</h5>
                                <h2>{{ slider.subtitle }}</h2>
                                <a href="{% url 'home' %}" class="hero-button">Shopping Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Hero Slider Single -->
            {% endfor%}
        </div>
    </div> <!-- ...:::: End Hero Area Section:::... -->